In [4]:
import pandas as pd

df_coa = pd.read_excel('/content/CoA_RTJC.XLSX')
print(f"Jumlah baris: {df_coa.shape[0]}")
print(f"Jumlah kolom: {df_coa.shape[1]}")

print("\nMemeriksa Tipe Data:")
print(df_coa.info())

print("=" * 70)
print("\nMemeriksa 5 Baris Pertama:")
print(df_coa.head())

print("=" * 70)
print("\nMemeriksa Nilai Duplikat:")
jumlah_duplikasi = df_coa.duplicated().sum()
print(f"Jumlah baris duplikat: {jumlah_duplikasi}")

print("=" * 70)
print("\nMemeriksa Nilai Null:")
print(df_coa.isnull().sum())

print("=" * 70)
print("\nMemeriksa Nilai Unik:")
for col in df_coa.columns:
    print(f"{col}: {df_coa[col].nunique()} nilai unik")

Jumlah baris: 268
Jumlah kolom: 11

Memeriksa Tipe Data:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 268 entries, 0 to 267
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   No                268 non-null    int64
 1   Type              268 non-null    object
 2   Account Code      268 non-null    object
 3   Description       268 non-null    object
 4   Detail            268 non-null    object
 5   Up Level          268 non-null    object
 6   Map to Neraca     268 non-null    object
 7   Map to Cash Flow  268 non-null    object
 8   Pos Budget        268 non-null    object
 9   Sumber Dana       268 non-null    object
 10  Category Budget   268 non-null    object
dtypes: int64(1), object(10)
memory usage: 23.2+ KB
None
======================================================================

Memeriksa 5 Baris Pertama:
   No    Type   Account Code     Description Detail       Up Level  \
0   1  AKTIVA  1.00.00.00.00          Aktiva    YES              -
1   2  AKTIVA  1.01.00.00.00  Current Assets     NO  1.00.00.00.00
2   3  AKTIVA  1.01.01.00.00    Cash on Hand     NO  1.01.00.00.00
3   4  AKTIVA  1.01.01.01.00             Kas    YES  1.01.01.00.00
4   5  AKTIVA  1.01.01.02.00  Kas Penerimaan    YES  1.01.01.00.00

  Map to Neraca Map to Cash Flow Pos Budget Sumber Dana Category Budget
0    Kas & Bank                -          -           -               -
1    Kas & Bank                -          -           -               -
2    Kas & Bank                -          -           -               -
3    Kas & Bank                -          -           -               -
4    Kas & Bank                -          -           -               -
======================================================================

Memeriksa Nilai Duplikat:
Jumlah baris duplikat: 0
======================================================================

Memeriksa Nilai Null:
No                  0
Type                0
Account Code        0
Description         0
Detail              0
Up Level            0
Map to Neraca       0
Map to Cash Flow    0
Pos Budget          0
Sumber Dana         0
Category Budget     0
dtype: int64
======================================================================

Memeriksa Nilai Unik:
No: 268 nilai unik
Type: 4 nilai unik
Account Code: 268 nilai unik
Description: 266 nilai unik
Detail: 2 nilai unik
Up Level: 33 nilai unik
Map to Neraca: 40 nilai unik
Map to Cash Flow: 1 nilai unik
Pos Budget: 19 nilai unik
Sumber Dana: 14 nilai unik
Category Budget: 17 nilai unik

In [ ]:
df_invoice = pd.read_excel('/content/Jurnal_Invoice_Periode_April_2024.xls')
print(f"Jumlah baris: {df_invoice.shape[0]}")
print(f"Jumlah kolom: {df_invoice.shape[1]}")

print("=" * 70)
print("\nMemeriksa Tipe Data:")
print(df_invoice.info())

print("=" * 70)
print("\nMemeriksa 5 Baris Pertama:")
print(df_invoice.head())

print("=" * 70)
print("\nMemeriksa Nilai Duplikat:")
jumlah_duplikasi = df_invoice.duplicated().sum()
print(f"Jumlah baris duplikat: {jumlah_duplikasi}")

print("=" * 70)
print("\nMemeriksa Nilai Null:")
print(df_invoice.isnull().sum())

print("=" * 70)
print("\nMemeriksa Nilai Unik:")
for col in df_invoice.columns:
    print(f"{col}: {df_invoice[col].nunique()} nilai unik")

Jumlah baris: 4871
Jumlah kolom: 10
======================================================================

Memeriksa Tipe Data:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4871 entries, 0 to 4870
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   No. Journal   4871 non-null   object
 1   Date          4871 non-null   datetime64[ns]
 2   Account Code  4871 non-null   object
 3   Account Name  4871 non-null   object
 4   Type of Bill  4871 non-null   object
 5   Kode Unit     4871 non-null   object
 6   Debit         4871 non-null   int64
 7   Credit        4871 non-null   int64
 8   Sum Debit     1 non-null      float64
 9   Sum Credit    1 non-null      float64
dtypes: datetime64[ns](1), float64(2), int64(2), object(5)
memory usage: 380.7+ KB
None
======================================================================

Memeriksa 5 Baris Pertama:
     No. Journal       Date   Account Code                 Account Name  \
0  PBJ-2404-0012 2024-04-05  1.01.04.01.00  Piutang - Iuran Pengelolaan
1  PBJ-2404-0014 2024-04-05  1.01.04.02.00      Piutang - Dana Cadangan
2  PBJ-2404-0018 2024-04-01  1.01.04.01.00  Piutang - Iuran Pengelolaan
3  PBJ-2404-0018 2024-04-01  1.01.04.02.00      Piutang - Dana Cadangan
4  PBJ-2404-0019 2024-04-01  1.01.04.01.00  Piutang - Iuran Pengelolaan

  Type of Bill Kode Unit    Debit  Credit     Sum Debit  Sum Credit
0           SC  TC/23/20   720000       0  2.693268e+09         0.0
1           SF  TC/23/20   144000       0           NaN         NaN
2           SC  TC/20/20   990000       0           NaN         NaN
3           SF  TC/20/20   198000       0           NaN         NaN
4           SC  TA/05/16  1200000       0           NaN         NaN
======================================================================

Memeriksa Nilai Duplikat:
Jumlah baris duplikat: 0
======================================================================

Memeriksa Nilai Null:
No. Journal        0
Date               0
Account Code       0
Account Name       0
Type of Bill       0
Kode Unit          0
Debit              0
Credit             0
Sum Debit       4870
Sum Credit      4870
dtype: int64
======================================================================

Memeriksa Nilai Unik:
No. Journal: 2437 nilai unik
Date: 2 nilai unik
Account Code: 2 nilai unik
Account Name: 2 nilai unik
Type of Bill: 3 nilai unik
Kode Unit: 2427 nilai unik
Debit: 57 nilai unik
Credit: 1 nilai unik
Sum Debit: 1 nilai unik
Sum Credit: 1 nilai unik

In [ ]:
df_pembayaran = pd.read_excel('/content/Jurnal_Penerimaan_Pembayaran_SCSF_Periode_April_2024.xls')
print(f"Jumlah baris: {df_pembayaran.shape[0]}")
print(f"Jumlah kolom: {df_pembayaran.shape[1]}")

print("=" * 70)
print("\nMemeriksa Tipe Data:")
print(df_pembayaran.info())

print("=" * 70)
print("\nMemeriksa 5 Baris Pertama:")
print(df_pembayaran.head())

print("=" * 70)
print("\nMemeriksa Nilai Duplikat:")
jumlah_duplikasi = df_pembayaran.duplicated().sum()
print(f"Jumlah baris duplikat: {jumlah_duplikasi}")

print("=" * 70)
print("\nMemeriksa Nilai Null:")
print(df_pembayaran.isnull().sum())

print("=" * 70)
print("\nMemeriksa Nilai Unik:")
for col in df_pembayaran.columns:
    print(f"{col}: {df_pembayaran[col].nunique()} nilai unik")

Jumlah baris: 1665
Jumlah kolom: 11
======================================================================

Memeriksa Tipe Data:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1665 entries, 0 to 1664
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   No. Journal   1665 non-null   object
 1   Date          1665 non-null   datetime64[ns]
 2   Account Code  1665 non-null   object
 3   Account Name  1665 non-null   object
 4   Invoice No    1655 non-null   object
 5   Type of Bill  1655 non-null   object
 6   Kode Unit     1655 non-null   object
 7   Debit         1665 non-null   int64
 8   Credit        1665 non-null   int64
 9   Sum Debit     1 non-null      float64
 10  Sum Credit    1 non-null      float64
dtypes: datetime64[ns](1), float64(2), int64(2), object(6)
memory usage: 143.2+ KB
None
======================================================================

Memeriksa 5 Baris Pertama:
     No. Journal       Date   Account Code                 Account Name  \
0  POR-2404-0001 2024-04-01  1.01.04.01.00  Piutang - Iuran Pengelolaan
1  POR-2404-0001 2024-04-01  1.01.04.02.00      Piutang - Dana Cadangan
2  POR-2404-0006 2024-04-01  1.01.04.01.00  Piutang - Iuran Pengelolaan
3  POR-2404-0006 2024-04-01  1.01.04.02.00      Piutang - Dana Cadangan
4  POR-2404-0009 2024-04-01  1.01.04.01.00  Piutang - Iuran Pengelolaan

               Invoice No Type of Bill Kode Unit  Debit   Credit  Sum Debit  \
0      MN.INV/24/01/01253           SC  TC/03/16      0  1200000  5418000.0
1      MN.INV/24/01/01253           SF  TC/03/16      0   240000        NaN
2         INV/24/04/00004           SC  TA/05/16      0   400000        NaN
3         INV/24/04/00004           SF  TA/05/16      0    80000        NaN
4  AR.INV/SCR/19/07/01451           SC  TB/10/15      0   720000        NaN

    Sum Credit
0  751743390.0
1          NaN
2          NaN
3          NaN
4          NaN
======================================================================

Memeriksa Nilai Duplikat:
Jumlah baris duplikat: 0
======================================================================

Memeriksa Nilai Null:
No. Journal        0
Date               0
Account Code       0
Account Name       0
Invoice No        10
Type of Bill      10
Kode Unit         10
Debit              0
Credit             0
Sum Debit       1664
Sum Credit      1664
dtype: int64
======================================================================

Memeriksa Nilai Unik:
No. Journal: 697 nilai unik
Date: 30 nilai unik
Account Code: 2 nilai unik
Account Name: 2 nilai unik
Invoice No: 930 nilai unik
Type of Bill: 2 nilai unik
Kode Unit: 665 nilai unik
Debit: 5 nilai unik
Credit: 79 nilai unik
Sum Debit: 1 nilai unik
Sum Credit: 1 nilai unik

In [ ]:
df_pemakaian = pd.read_excel('/content/Jurnal_Pemakaian_SCSF_2024.XLSX')
print(f"Jumlah baris: {df_pemakaian.shape[0]}")
print(f"Jumlah kolom: {df_pemakaian.shape[1]}")

print("=" * 70)
print("\nMemeriksa Tipe Data:")
print(df_pemakaian.info())

print("=" * 70)
print("\nMemeriksa 5 Baris Pertama:")
print(df_pemakaian.head())

print("=" * 70)
print("\nMemeriksa Nilai Duplikat:")
jumlah_duplikasi = df_pemakaian.duplicated().sum()
print(f"Jumlah baris duplikat: {jumlah_duplikasi}")

print("=" * 70)
print("\nMemeriksa Nilai Null:")
print(df_pemakaian.isnull().sum())

print("=" * 70)
print("\nMemeriksa Nilai Unik:")
for col in df_pemakaian.columns:
    print(f"{col}: {df_pemakaian[col].nunique()} nilai unik")

Jumlah baris: 18
Jumlah kolom: 6
======================================================================

Memeriksa Tipe Data:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Data columns (total 6 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Jurnal Pemakaian SC April 2024  15 non-null     object
 1   Unnamed: 1                      14 non-null     object
 2   Unnamed: 2                      14 non-null     object
 3   Unnamed: 3                      14 non-null     object
 4   Unnamed: 4                      14 non-null     object
 5   Unnamed: 5                      14 non-null     object
dtypes: object(6)
memory usage: 996.0+ bytes
None
======================================================================

Memeriksa 5 Baris Pertama:
  Jurnal Pemakaian SC April 2024     Unnamed: 1  \
0                             No   Account Code
1                              1  5.02.02.00.00
2                              2  2.01.01.02.00
3                              3  5.02.03.00.00
4                              4  2.01.01.01.00

                        Unnamed: 2 Unnamed: 3 Unnamed: 4  \
0                     Account Name      Debit     Credit
1  Jasa Outsource Cleaning Service  165000918          0
2    PT. Mandiri Jaya Makmur Abadi          0  165000918
3          Jasa Outsource Security     450000          0
4       PT. Bandung Perkasa Madani          0     450000

                   Unnamed: 5
0                 Description
1  JASA KEBERSIHAN APRIL 2024
2  JASA KEBERSIHAN APRIL 2024
3    JASA KEAMANAN APRIL 2024
4    JASA KEAMANAN APRIL 2024
======================================================================

Memeriksa Nilai Duplikat:
Jumlah baris duplikat: 1
======================================================================

Memeriksa Nilai Null:
Jurnal Pemakaian SC April 2024    3
Unnamed: 1                        4
Unnamed: 2                        4
Unnamed: 3                        4
Unnamed: 4                        4
Unnamed: 5                        4
dtype: int64
======================================================================

Memeriksa Nilai Unik:
Jurnal Pemakaian SC April 2024: 10 nilai unik
Unnamed: 1: 8 nilai unik
Unnamed: 2: 8 nilai unik
Unnamed: 3: 10 nilai unik
Unnamed: 4: 10 nilai unik
Unnamed: 5: 6 nilai unik

In [ ]:
import pandas as pd

df_coa = pd.read_excel('/content/CoA_RTJC.XLSX')
print(f"Jumlah baris: {df_coa.shape[0]}")
print(f"Jumlah kolom: {df_coa.shape[1]}")

print("=" * 70)
print("\nMemeriksa 5 Baris Pertama:")
print(df_coa.head())

Jumlah baris: 269
Jumlah kolom: 11
======================================================================

Memeriksa 5 Baris Pertama:
       Unnamed: 1     Unnamed: 2      Unnamed: 3 Unnamed: 4     Unnamed: 5  \
0   No       Type   Account Code     Description     Detail       Up Level
1    1     AKTIVA  1.00.00.00.00          Aktiva        YES            NaN
2    2     AKTIVA  1.01.00.00.00  Current Assets         NO  1.00.00.00.00
3    3     AKTIVA  1.01.01.00.00    Cash on Hand         NO  1.01.00.00.00
4    4     AKTIVA  1.01.01.01.00             Kas        YES  1.01.01.00.00

      Unnamed: 6        Unnamed: 7  Unnamed: 8   Unnamed: 9      Unnamed: 10
0  Map to Neraca  Map to Cash Flow  Pos Budget  Sumber Dana  Category Budget
1     Kas & Bank                 -         NaN          NaN              NaN
2     Kas & Bank                 -         NaN          NaN              NaN
3     Kas & Bank                 -         NaN          NaN              NaN
4     Kas & Bank                 -         NaN          NaN              NaN